*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}
       .hero
{
    height: 100%;
    width: 100%;
    background-image: url("bg.jpg");
    background-position: center;
    background-size:800px x 600px;
    position:absolute;
    

}


.form-box
{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background-color:rgb(255, 176, 40,0.85);
    padding : 5px;
    border-style:dashed;
}



.button-box
{
    width:220px;
    margin: 35px auto;
    position:relative;
 border-radius: 30px;
 color:white;
 
}


.toggle-btn
{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border:0;
    outline: none;
    position: absolute;
    left: 35px;
    top:20px;
    font-size: 28px;
    text-align: center;
    

}


#btn
{
    top:0;
    left:0;
    position: center;
    width:110 px;
    height: 100%
    /*background: linear-gradient(to right,white,white);
    border-radius: 30px;*/
    
    
}


.input-group
{
    top: 18px;
    position:relative;
    width: 20 px;
    transition: 0.5s;
    color:white;
   

}

::placeholder{color:white; opacity:0.5;}
.input-field
{
    width:100%;
    padding: 10px 10px;
    margin: 0px 0px;
    border-left: 0;
    border-top:   0px ;
    border-right: 0;
    border-bottom:1px solid rgb(27,27,27);
    outline:none;
    background:transparent;

}
.input-field:hover{
    background-color:rgb(255, 176, 40);
  opacity: 1;
  transition: 0.4s;
  outline: none;
}


.submit-btn
{
    width:85%;
  padding: 13px 30px;
    cursor: pointer;
    display: block;
    margin:30px;
    background: rgb(27,27,27);
    border: 0;
    outline:none;
    border-radius: 30px;
    color: white;
    background-color:rgb(27,27,27);
     position:center;
  /* margin: 100%;
  position: absolute;
  top: 70%;
  left: 70%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */



}
.submit-btn:hover{
    background-color:rgb(0, 0, 0);
  opacity: 1;
  transition: 0.4s;
  outline: none;
}
.check-box
{
    margin:30px 10px 30px 0px;
    
}


